<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="./dist/css/app.css">
    <title>Lead Customer</title>
</head>

<body>
    <div id="root">
        <!-- Header site  -->
        <header>
            <!-- TOP HEADER  -->

            <div class="header-top">
                <div class="my_container">

                    <div class="d-flex justify-content-between">
                        <div class="hours">

                            <span> <i class="far fa-clock"></i>Open Hours: Mon - Sat - 9:00 - 18:00</span>
                        </div>
                        <div class="email">

                            <span><i class="fas fa-phone-alt"></i> +1(305)1234-5678</span>
                            <span><i class="fas fa-envelope"></i> hello@example.com</span>
                            <span class="icons">
                                <i class="fab fa-facebook-f"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-linkedin-in"></i>
                            </span>
                        </div>
                    </div>




                </div>

            </div>
            <!-- /TOP HEADER  -->

            <!-- BOTTOM HEADER + NAV  -->
            <div class=" header-bottom">

                <section class="jumbo">
                    <div class="tendina">
                        <!-- NAV SITE  -->
                        <nav class="my_container ">
                            <div class="nav-bar d-flex justify-content-between  align-items-center">
                                <h5>
                                    <span class="">NEX</span>
                                    GEN
                                </h5>
                                <span class="nav-link">
                                    <a v-for="el in navLink" href="#">{{el.text}}</a>

                                    <a class="btn _bt-bg_green  btn-lg" href="#" role="button">GET IN
                                        TOUCH</a>
                                </span>
                            </div>
                        </nav>
                    </div>
                    <!-- /NAV SITE  -->


                    <div id="jumbo-text" class="text-center">
                        <h1>Lead ~ Customer</h1>
                        <p>Successful strategies require data analysis, creativity and customer focus, taking
                            advantage
                            of
                            the latest technologies to offer excellent services.</p>
                        <div>
                            <span><a class="btn _bt-bg_green  btn-lg" href="precos" role="button">GET IN
                                    TOUCH</a></span>
                            <span><a class="btn _bt-bord_green  btn-lg" href="precos" role="button">READ
                                    MORE</a></span>

                        </div>
                    </div>

                </section>


            </div>
            <!-- /BOTTOM HEADER + NAV  -->
        </header>
        <!-- /Header site  -->

        <!-- MAIN SITE  -->
        <main>
            <section id="s_one">
                <div class="s_one-top">
                    <div class="my_container indicator">

                        <div v-for="el in keyIndicators" class="info-cube">
                            <span class="circle"><i :class="el.emoticon"></i></span>
                            <h5 v-text="el.title"></h5>
                            <p v-text="el.par"></p>
                        </div>






                    </div>
                </div>
                <div class="s_one-bottom">
                    <div class="my_container">








                    </div>
                </div>

            </section>


            <section id="s_two">
                <div class="s_two-top">
                    <div class="my_container">

                    </div>
                    <div class="s_two-bottom"></div>
                </div>
            </section>


            <section id="s_third">
                <div class="my_container">
                    <div class="s_third-top"></div>
                    <div class="s_third-bottom"></div>
                </div>
            </section>



            <section id="s_fourth">
                <div class="my_container">
                    <div class="s_fourth-top"></div>
                    <div class="s_fourth-bottom"></div>
                </div>
            </section>



            <section id="s_fifth">
                <div class="my_container">
                    <div class="s_fifth-top"></div>
                    <div class="s_fifth-bottom"></div>
                </div>
            </section>








        </main>
        <!-- /MAIN SITE  -->




    </div>


    <!-- VUE  -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- MY JS  -->
    <script src="./dist/js/app.js"></script>
</body>

</html>