footer{
    background-color: $shark;
    padding:5rem 0;
    position: relative;


    div.flex-container{
          
        .general-info{
            flex-basis: 30%;
                h5>span{
                    border-radius: 15px 0 0 15px;
                    background-color: #39c4c666;
                    color: $nex-color;
                    padding: 11px 5px 11px 20px;
                }

                h5{
                    color:$p-color;
                }
        

                p{
                    font-size: $p-med-dim;
                    color: $p-color;
                    margin-bottom: 0;
                    width: 80%;
                    padding: 20px 0;
                }


                div{
                    color: $p-color; 
                font-size: $p-med-dim;
                margin-top: 10px;
                }

                i{                  

                color: $p-color;
                margin: 0 0.5rem 0.5rem 0;
                vertical-align: middle;
                text-align: center;

                }

                .btn{
                    color: $bt-green;
                    margin-top: 15px;
                    font-size: 1rem;
                }


            }


                .various{
                    
                    h5{
                        color: white;
                        margin-bottom: 1rem;
                    }
                    .info-container{
                        color: $p-color;
                        ul{
                            padding:0;

                        }   
                        
                        li{
                        list-style: none;
                        padding-bottom: 5px;
                        
                            
                        }
                            
                        p{
                            margin:0;

                        }



                    



                }






        }




    }



}



.carta {
    border-radius: 10px;
    background-color: #d3d3d31c;
  padding: 2rem;
    margin-right: 1rem;              
    
}

.par-container{
    
   margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    color: $p-color;
    font-size: $p-dim;
}