div.header-top{
   padding:5px 0;
    background-color: #4e4d51;
    color: $p-color;
    font-weight: lighter;
    font-size: $p-dim;
   

}



.email{
    display: flex;
    justify-content: space-between;
}
.email span:nth-last-of-type(2){
    padding: 0 10px;
}
span i{
    padding-right: 0.4rem;
}

.icons i:nth-of-type(2){
padding:0 10px;
}



