// TOP PART 


.s_one-top{
    background-color:#e3e7df;
    padding:6rem 0;
}

div.indicator{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
  
}

div.info-cube{
    width: calc(100%/3 - 1rem);
    padding: 1.5rem 2rem;
    background-color:white;
    border-radius: 10px;
    margin-bottom: 2rem;

    span.circle i{ 
        padding: 10px;
        // margin: 2rem 0;
        border-radius: 50%;
        background-color:$seaNym;
    }

    h5{
     padding:1rem 0;
     margin-bottom: 0;
     font-weight: bolder;
    }

    p{
        font-size: $p-dim;
        color: $p-color2;
       
    }


}


//BOTTOM PART

.col-text{
padding: 7rem 0 4rem 0;
 @include pageLink;
 @include shadow-text($shadow1);


   
    h3{
        padding: 1rem 0;
        font-weight: bold;
    }       

    p{
        font-size: $p-dim;
        color: $p-color2;
        // width: 80%;
    }

    .corporate-values{
        display: flex;
        flex-wrap: wrap;
    }
    .values{
        width: 50%;
        padding-right: 1rem;
    i{
        color: $bt-green;
    }
    span{
    padding-left: 0.5rem;
    font-weight: bolder;
    
    }

    p{
        font-size: $p-dim;
        padding: 1rem 0;
        color: $p-color2;
    }
    
   }


}





.col-pic{
    height: 600px;
 
    img{
        object-fit: cover;
        width: 125%;
        height: 100%;
    }
    





}