#s_third{
background-color: #eef4ed;

.pricing{
    padding:80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;


    h3{
        padding:1.5rem 0;
        margin-bottom: 0;
    }





    @include pageLink;
    @include shadow-text(#CCE3DE);

    p{
        font-size: $p-dim;
        color: $p-color2;
        width: 80%;
        text-align: center;
        padding-bottom: 30px;
        margin-bottom: 0;
    }


    img{
        height: 100%;
        width: 100%;
    }






















    }


}