#s_two{
background-color: $shark;

                                    // SERVICE-TITLE 
    .service-title{
        padding-top: 4rem;
        @include pageLink;
    
        h3{
            color: white;
            margin-bottom: 0;
            padding-top:1.5rem;
        }


        .span-par{


            p{
            color: $p-color;
            font-size:$p-dim;
            padding: 1.5rem 0;
            margin-bottom: 0; 
            width: 80%; 
            }


        }

        .span-bt{
            flex-basis: 20% ;
            
            
            a{
                color: white;
                font-weight: normal;
                font-size: 0.7rem;
            }
            
    
        }

        


    }

                                    // CORPORATE SERVICE 

    .corporate-service{

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 5rem;


        & .service{
            color: white;
            background-color: #232727;
            padding: 2rem;
            margin-bottom: 1rem;
            width: calc(100% /3 - 1rem);

            i{
                color: $bt-green;
            }

            h5{
                font-size: $h5-dim;
                margin-bottom: 0;
                padding: 0.5rem 0;
            }

            p{
                font-size: $p-dim;
                padding: 1rem 0;
                margin-bottom: 0;
            }

            span a{
                font-size: 0.55rem;
                margin:0;
            }

        }









    }


}