            // CORPORATE NEWS 

.news{
    
    @include pageLink;
    @include shadow-text($shadow1);



    h3{
      
        margin-bottom: 0;
        padding-top:1.5rem;
        font-weight: bolder;
    }


    .span-par{


        p{
        color: $p-color2;
        font-size:$p-dim;
        padding: 1.5rem 0;
        margin-bottom: 0; 
        }


    }

    .span-bt{
        flex-basis: 20% ;
        
        
        a{
            color: white;
            font-weight: normal;
            font-size: 0.7rem;
        }
        

    }


}


.photo_news-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    




    .photo-news{
        width: calc(100%/3 - 1.5rem);
        margin-right: 1rem;
        margin-bottom: 2rem;
        height: 300px;
        position: relative;
   

    .tendina-news{
        border-radius: 10px;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #00000061;
        display: flex;
        align-items: flex-end;
        text-align: center;

        & p{
            color: white;
            font-size: 1rem;
            font-weight: bold;
            padding: 0 2rem 2rem;
        }


    }


        img{
          height: 100%;
          width: 100%;
          border-radius: 10px;
          
        }

    }


}


            // NEWS LETTER 

    .s_fourth-bottom{

        height: 310px;
        background-image: url(../../dist/img/bg-1.jpg);
        background-size: cover;
        background-position: center;











    }