// TOP PART 


.s_one-top{
    background-color:#e3e7df;
    padding:6rem 0;
}

div.indicator{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
  
}

div.info-cube{
    width: calc(100%/3 - 2rem/3);
    padding: 1.5rem;
    background-color:white;
    border-radius: 10px;
    margin-bottom: 1rem;


    span.circle i{ 
        padding: 10px;
        // margin: 2rem 0;
        border-radius: 50%;
        background-color:$seaNym;
    }

    h5{
     padding:1rem 0;
     margin-bottom: 0;
    }

    p{
        font-size: $p-dim;
    }


}


//BOTTOM PART

.col-text{
padding: 3rem 0 4rem 0;
 @include pageLink;
 @include shadow-text;


   
    h3{
        padding: 1rem 0;
    }       

    p{
        font-size: $p-dim;
    }

    .corporate-values{
        display: flex;
        flex-wrap: wrap;
    }
    .values{
        width: 50%;
        padding-right: 1rem;
    i{
        color: $bt-green;
    }
    span{
    padding-left: 0.5rem;
    font-weight: bolder;
    
    }

    p{
        font-size: $p-dim;
    }
    
   }


}





.col-pic{
background-image: url(/dist/img/);





}