$p-dim: 10px;
$h5-dim:14px;
$p-med-dim: 12px;
$p-color:#e3e7df;
$p-color2:#748088;
$bt-green: #038483;
$nex-color:#39c4c6;
$seaNym: #e3e7df;
$shark:#1e2223;
$shadow1:#DAECED;
$shadow2:#CCE3DE;

$container:70%;
$delta-margine: calc(0.15*100vw);



